In [1]:
import pandas as pd
import numpy as np

In [5]:
df_x = pd.read_csv('kfc_BK.csv' )

In [6]:
df_x

,一個,一支,今天,其實,冷茶,刮刮卡,刮到,四彩,因為,堡餐,...,濃淡,爬文,留在,真不知道,等級,自家,臺北市,茉莉,過水,V8755
0,1,1,1,1,1,2,1,1,1,1,...,0,0,0,0,0,0,0,0,0,+
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,=
2,3,0,0,1,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,0,-
3,6,0,4,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,+
4,6,0,1,1,0,0,0,0,6,0,...,0,0,0,0,0,0,0,0,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,4,0,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
128,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,-
129,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,-
130,0,0,3,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,-
131,0,0,2,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,2,1,+

In [4]:
df_x.to_csv('kfc_BK.csv',encoding='utf_8_sig')